#contact {
    scroll-margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-titles {
    font-size: 4rem;
}

#contact .italic {
    color: var(--primary);
}

.social-links {
    font-size: 1.5rem;
    padding: 15px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-links a {
    text-decoration: none;
    color: rgb(75, 238, 61);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.social-links a:hover {
    transform: translateY(10px)
}