/* Base */
@import "base/reset.css";
@import "base/variables.css";

/* Layout */
@import "layout/header.css";
@import "layout/hero.css";
@import "layout/section.css";

/* Components */
@import "components/logo.css";
@import "components/nav.css";
@import "components/hamburger.css";
@import "components/button.css";

/* Utils */
@import "utils/responsive.css";

/* Pages */
@import "pages/home.css";

body {
    background: url("../images/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
