.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav-list a:hover {
    color: var(--primary);
}
