.header {
    width: 100%;
    padding: 1.2rem 1rem;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
